In [25]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
import calendar

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [99]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results_temp_june =[]
for i in range(2009, 2019):
    year = i
    month = 7
    num_days = calendar.monthrange(year, month)[1]
    start_date = dt.date(year, month, 1)
    end_date = dt.date(year, month, num_days)

    results_temp_run = session.query(Measurement.tobs).\
    filter(Measurement.date >= start_date, Measurement.date <= end_date ).all()
    results_temp_june = results_temp_june + results_temp_run

In [100]:
#  3. Convert the June temperatures to a list.
temps_june = list(np.ravel(results_temp_june))

In [101]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
temps_june_df = pd.DataFrame(temps_june)

In [102]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
temps_june_df.describe()

                 0
count  1711.000000
mean     76.082408
std       3.356532
min      61.000000
25%      74.000000
50%      76.000000
75%      78.000000
max      87.000000

## D2: Determine the Summary Statistics for December

In [103]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_temp_dec =[]
for i in range(2009, 2019):
    year = i
    month = 12
    num_days = calendar.monthrange(year, month)[1]
    start_date = dt.date(year, month, 1)
    end_date = dt.date(year, month, num_days)

    results_temp_run = session.query(Measurement.tobs).\
    filter(Measurement.date >= start_date, Measurement.date <= end_date ).all()
    results_temp_dec = results_temp_dec + results_temp_run

In [104]:
# 7. Convert the December temperatures to a list.
temps_dec = list(np.ravel(results_temp_dec))

In [105]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
temps_dec_df = pd.DataFrame(temps_dec)

In [106]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
temps_dec_df.describe()

                 0
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000